@import "../../styles/general.scss";

.header {
  height: 80px;
  background-color: $background-color;
  // background: linear-gradient(
  //   180deg,
  //   rgba(127, 255, 212, 1) 60%,
  //   rgba(255, 255, 255, 1) 100%
  // );
  border-bottom: 2px;

  .header-main.route-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: $logo-font-size;
    text-shadow: 2px 2px 2px #a1a1a1, 0px 2px 40px rgba(206, 89, 55, 0);

    .first-name {
      font-family: $logo-font;
      color: $logo-font-color;
      letter-spacing: -2.5px;
    }

    .last-name {
      font-family: $logo-last-name-font;
      color: $logo-font-color;
      margin-left: 5px;
      text-decoration: none;
      transition-duration: 200ms;
    }
  }

  .social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    padding: 0.25em;

    svg {
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
    }
  }
}
